Body{
    background-color: rgb(250, 246, 246);
    display: flex;
    justify-content: space-around;
}
p{
    color: beige;
}
.contenair{
    border-style:groove;
    border-color: rgb(218, 218, 78);
    /* background-color: black; */
    background: url(../images/1176971.jpg);
    width: 70%;
    min-height: 550px;
    max-height: 2000px;
    box-shadow: inset 0 0 1em gold, 0 0 2em rgb(190, 180, 180);
    box-shadow: 5px 5px 7px 7px rgb(138, 132, 132) ;

}
.contactInformation{
    
}

.rectangle_1{

    width: 50px;
    height: 60px;
    border-radius: 5px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    background: linear-gradient(70deg,rgba(137, 233, 240, 0.288) ,rgb(125, 247, 176),rgb(243, 241, 107));
}
.rectangle_2{
    width: 30px;
    height: 35px;
    border-radius: 5px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    background: linear-gradient(70deg,rgba(137, 233, 240, 0.288) ,rgb(125, 247, 176),rgb(243, 241, 107));
}

.blocRectangle{
    height: 110px;
    width:105px ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
#blocHeader{
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: -15px;
}
#blocFooter{
   
    padding-left: 85%;
    padding-top: 30%;
    margin-bottom: -10px;
}